  <h2><%= image_tag("boyhead.jpg", :alt => "Face") %> (Q14) What did <%= @story.char_name %> learn when <%= @story.char_result_from_action %>?</h2>
  <div class="field">
    <%= f.text_field :char_learn_from_action %>
  </div>