  <h2><%= image_tag("girlhead.jpg", :alt => "Face") %>(Q13) What happened after <%= @story.char_action_from_feeling %>?</h2>
  <div class="field">
    <%= f.text_field :char_result_from_action %>
  </div>
