  <div class="center">
  	<%= image_tag("girlhead.jpg", :alt => "Face") %> 
  	<%= image_tag("boyhead.jpg", :alt => "Face") %> 
  	<h2>Hi there! We're Dana and Sam, and we love to write! <br>So lets get started.</h2><br>
  	<h2>What is your character's name?</h2>
      <%= f.text_field :char_name %>
  </div>





