  <h2>(Q7) What do <%=h @story.char_name %> and <%=h @story.char_friend_name %> like to do together?</h2>
  <div class="field">
    <%= f.label :char_activity %><br>
    <%= f.text_field :char_activity %>
  </div>