  <h2>(Q7) What do <%=h @story.char_name %> and <%=h @story.char_friend_name %> like to do together?</h2>
  <div class="field">
    <%= f.text_field :char_activity %>
    <p>Examples: <br>
    <i>to sing songs <br>
    to swim in the ocean <br>
    to eat icecream </i></p>
  </div>