  <h2>(Q9)</h2>
  <div class="field">
    <p>Was it ever difficult for <%=h @story.char_name %> and <%=h @story.char_friend_name %> <%=h @story.char_activity %>? </p>
    	<br>
    <%= f.check_box :char_activity_everdifficult %>
  </div>