  <h2><%= image_tag("boyhead.jpg", :alt => "Face") %> (Q6) <%= @story.char_name %> likes having <%= @story.char_friend_name %> as a friend because...</h2>
  <div class="field">
    <%= f.text_area :char_friend_why %>
  </div>